---
import Layout from "../../layouts/Layout.astro";
import PcCarousel from "../../components/PcCarousel.astro";
import { bases } from "../../data/bases";
---

<Layout title="ManuPC | PC">
    <div class="flex flex-wrap gap-4 items-center justify-center h-full">
        {
            bases.map(base => (
                <div class="card w-96 bg-base-100 shadow-xl h-[600px]">
                    <figure class="flex-col bg-indigo-200 dark:bg-indigo-800">
                        <PcCarousel base={base} />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">{base.name}</h2>
                        <p>{base.shortdesc}</p>
                        <div class="card-actions justify-end mt-4">
                            <a class="btn btn-primary w-full" href={`/pc/${base.id}`}>
                                Configura ora 🛠️
                            </a>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</Layout>
