---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ManuPC">
	<div class="flex flex-col gap-y-4 h-full justify-center items-center">
		<img src="/logo.jpeg" class="h-48 mb-8 rounded-xl" />
		<h1 class="text-5xl">ManuPC.it</h1>
		<p>Il tuo mini PC, personalizzato da te per le tue esigenze</p>
		<a href="/pc" class="btn btn-primary">
			Vedi tutti i PC ➡️
		</a>	
	</div>
</Layout>
